* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Image/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: white;
  overflow: hidden;
}

.navbar a p {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.2;
}

.navbar-list {
  float: right;
}

.navbar-list a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

