* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  overflow: hidden;
}

.title p {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navbar a p {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.2;
}

.navbar-list {
  float: right;
}

.navbar-list a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-list .icon {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 120px 10px 150px 40px;
  gap: 40px;
  background-image: url("../Image/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#connect {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-media {
  display: flex;
  gap: 20px;
}

@media (max-width: 630px) {
  .navbar-list .icon {
    display: block;
    float: left;
  }

  .navbar-list a {
    display: none;
  }
}

#social {
  text-decoration: none;
  list-style: none;
}
.works-container
{
    display: grid;
    padding: 120px 10px 150px 40px;
    gap: 40px;
}

.blog-background-Image{
    /* Snapshoot Portfolio */

width: 295px;
height: 220px;

background: url(../Image/blog_drbl.png);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.tonic
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tonic-header
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tonic div h1
{
    /* Project Title */

width: 295px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* or 138% */

/* Neutrals/N800 */
color: #172B4D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.tonic-body
{
    /* Primary Text */

width: 295px;
height: 76px;

/* Body / 3 */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */

/* Neutrals/N600 */
color: #344563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.work-category ul
{ 
    list-style: none;
}

.work-category ul li p
{
    float: left;
    margin-right: 10px;
    /* html */

width: 29px;
height: 16px;

/* Button / Small */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.03em;

/* Primary/B400 */
color: #6070FF;



}

.Projects button
{
    /* See Project

width: 100px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Primary/B500 */

color: #396DF2;
background-color: white;
border: 1px solid #396DF2;
padding:50px;

border: 30%;
}